@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::selection {
  background: #0F3D7C;
  color: #ffffff;
}

body {
  font-family: var(--font-inter), sans-serif;
}
